<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="none" name="Allover Project Reports">

    <listeners>
        <listener class-name="allover.utilities.ExtentReportsListener"></listener>
    </listeners>


    <test name="US_06 Test Cases">
        <packages>
            <package name="allover.tests.us_06_ShoppingTests"></package>
        </packages>
    </test>
</suite>