<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/nimet/IdeaProjects/AlloverAutomationProject/src/test/java/allover/tests/US_05_AccountDetails" parallel="classes" thread-count="1">
       <packages>
           <package name="allover.tests.US_05_AccountDetails"></package>
       </packages>
    </test>
</suite>